<h1>b_r/<%= @sub.title %></h1>

<div>
  <%= link_to "Post something new", new_post_url %>
</div>

<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <%= link_to post.title, post_url(post) %>
    </li>
  <% end %>
</ul>